{# Base HTML, compatible with what Vite expects #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title or metadata.title}}</title>

    {% jsBundleHead %}{# vite js bundle #}

</head>
<body>
    <header>
        <a href="/">Eleventy with Vite</a>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <a href="https://github.com/fpapado/eleventy-with-vite">
            Source on GitHub
        </a>
    </footer>

    {% jsBundleFoot %}{# vite js bundle #}

</body>
</html>