{# Base HTML, compatible with what Vite expects #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title or metadata.title}}</title>
    {% if build.env == "production" %}
        {# Add any CSS from the main script #}
        {% viteLinkStylesheetTags "src/client/main.js" %}
    {% endif %}
</head>
<body>
    <header>
        <a href="/">Eleventy with Vite</a>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <a href="https://github.com/fpapado/eleventy-with-vite">
            Source on GitHub
        </a>
    </footer>
    {#  
        We must split development  and production scripts
        In development, vite runs a server to resolve and reload scripts
        In production, the scripts are statically replaced at build-time 

        The build.env variable is assigned in src/_data/build.js
        @see https://vitejs.dev/guide/backend-integration.html#backend-integration
        @see https://www.11ty.dev/docs/data-js/#example-exposing-environment-variables
    #}
    {% if build.env == "production" %}
        {# We must read the production scripts from the Vite manifest. We defer that logic to a custom shortcode #}
        {% viteScriptTag "src/client/main.tsx" %}
        {% viteLegacyScriptTag "vite/legacy-polyfills" %}
        {% viteLegacyScriptTag "src/client/main-legacy.tsx" %}
    {% else %}
        {# Set up @vitejs/plugin-react-refresh preamble #}
        <script type="module">
            import RefreshRuntime from "http://localhost:3000/@react-refresh"
            RefreshRuntime.injectIntoGlobalHook(window) 
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>

        {# The vite development client #}
        <script type="module" src="http://localhost:3000/@vite/client"></script>

        {# The main script entry for development (pointing to vite) #}
        <script type="module" src="http://localhost:3000/src/client/main.tsx"></script>
    {% endif %}
</body>
</html>